details {
  background-color: #ffffff;
  background-color: var(--body-bg);
    background-image: url("../image/fond.png");
    background-size: cover;
    background-repeat: no-repeat;
  padding: 5px;
}

details summary {
  padding: 10px;
  font-size: 22px;
  color: #00c3ff;
}

details p {
  padding-left: 30px;
  color: #00c3ff(0, 247, 255);
  font-size: 18px;
  line-height: 1.2;
  margin: 5px;
}