/* Mise en forme de la recherche */
.search-container {
    text-align: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
}

#searchButton {
    padding: 10px;
    background-color: #4CAF50;
    color: #09ff00;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    display: none; /* Masquer le bouton de recherche */
}

#searchButton:hover {
    background-color: #45a049;
}

#suggestions {
    display: none;
    background-color: #1e1e2e;
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #09ff00;
}

#movieGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie-card {
    width: 200px;
    padding: 10px;
    text-align: center;
    border: 1px solid #09ff00;
    cursor: pointer;
    box-shadow: 0 4px 8px #09ff00(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px #09ff00(0, 0, 0, 0.2);
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.preview-text {
    font-size: 12px;
    color: #09ff00;
    margin-top: 10px;
}
